{% extends "base_generic.html" %}

{% block content %}
    <h1><b>Рекомендую посмотреть</b></h1>
    <ul>
      <style>
	    body {
	    background: #c7b39b url(https://avatanplus.com/files/resources/original/5c013319dece116764af9d39.jpg); /* Цвет фона и путь к файлу */
	    color: #66ffff; /* Цвет текста */
   		 }

      </style>
     <p><big>1.Как устроен формат mp3?</big></p>
     <iframe width="642" height="361" src="https://www.youtube.com/embed/z2EUT4gwkr4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p><big>2.Баг тысячелетия [Проблема 2000 года]</big></p>
     <iframe width="720" height="405" src="https://www.youtube.com/embed/-YTdJq3GYDE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ul>     
{% endblock %}
