{% extends "base_generic.html" %}

{% block content %}
    <h1>Тут будут статьи, которых нет в паблике</h1>
    <h3>1.Мяч круглый</h3>
    <img src="https://images.ru.prom.st/650711008_w640_h640_650711008.jpg">
    <p><big>Ну действительно, вы можете в этом убедиться</big></p>
    <style>
   body {
    background: #c7b39b url(https://lh3.googleusercontent.com/proxy/60pW-cWF5MdZMPijqQx_FHpn5-QeWbtGn0pAKWm0qsVwCexmCpFQbM6vTj-ZG2V4CQ91t_LVzSEalOmK3Ci9tweJZlmg-2z3ddSbx1yrj_DQ6ns); /* Цвет фона и путь к файлу */
    color: #66ffff; /* Цвет текста */
   }
    </style>      
{% endblock %}
